[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
collation-server = utf8mb4_unicode_520_ci
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
max_connections = 512
skip-ssl
binlog_format = ROW
gtid_mode = ON
enforce_gtid_consistency = ON
pxc_encrypt_cluster_traffic = OFF
wsrep_provider = /usr/lib64/galera4/libgalera_smm.so
wsrep_cluster_address=gcomm://percona-master,percona-replica-1,percona-replica-2
bind-address = 0.0.0.0
pxc_strict_mode = PERMISSIVE

[sst]
encrypt=0